:root {
    --red: #ff073a;
    --green: #39FF14;
    --yellow: #FFFF33;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
}

.start-view {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-view p {
    font-size: 30px;
}

.start-view h1 {
    font-size: 200px;
    margin-bottom: 30px;
}

#tic-header {
    color: var(--red);
}

#tac-header {
    color: var(--yellow);
}

#toe-header {
    color: var(--green);
}

.container-input-user-name form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}

.container-input-user-name form input {
    font-size: 20px;
    margin-left: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
}

#playerOne-input {
    color: var(--red);
}

#playerTwo-input {
    color: var(--green);
}

.container-input-user-name form button {
    width: 200px;
    background-color: white;
    color: black;
    padding: 5px 20px;
    font-size: 30px;
    margin-top: 20px;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.container-input-user-name form button:hover {
    cursor: pointer;
    background-color: var(--yellow);
}

.game-view {
    height: 100vh;
    display: none;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.column1, .column3 {
    justify-items: left;
}

.column2 {
    justify-items: center;
}

.column1 h2, .column3 h2 {
    font-size: 50px;
    text-transform: uppercase;
}

.column1 p, .column3 p {
    font-size: 40px;
}

.column1 p:last-of-type, .column3 p:last-of-type {
    font-size: 25px;
}

.column1 h2 {
    color: var(--red);
}

.column3 h2 {
    color: var(--green)
}

.display {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

/* .display span {
    color: var(--red);
} */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid button {
    width: 200px;
    height: 200px;
    font-size: 16em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .grid button:empty:hover {
    background-color: rgba(230, 230, 230, 0.2);
    cursor: pointer;
} */

.top-left {
    border: 1px solid var(--yellow);
    border-top: none;
    border-left: none;
}

.top-center {
    border: 1px solid var(--yellow);
    border-top: none;
}

.top-right {
    border-bottom: 1px solid var(--yellow);
    border-top: none;
    border-right: none;
}

.middle-left {
    border: 1px solid var(--yellow);
    border-left: none;
}

.middle-center {
    border: 1px solid var(--yellow);
}

.middle-right {
    border: 1px solid var(--yellow);
    border-right: none;
}

.bottom-left {
    border: 1px solid var(--yellow);
    border-left: none;
    border-bottom: none;
}

.bottom-center {
    border: 1px solid var(--yellow);
    border-bottom: none;
}

.bottom-right {
    border: 1px solid var(--yellow);
    border-bottom: none;
    border-right: none;
}

#player-1-token {
    color: var(--red);
}

#player-2-token {
    color: var(--green);
}

#play-again {
    font-size: 20px;
    color: black;
    background-color: var(--yellow);
    padding: 5px 10px;
    cursor: pointer;
}